n8n_workflow_synology_alerts.json
{
  "name": "Synology Alert Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "synology-alerts",
        "responseMode": "onReceived"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 300]
    },
    {
      "parameters": {
        "functionCode": "// Parse Synology Alert\nconst text = items[0].json.body?.text || items[0].json.text || '';\nconst receivedAt = new Date().toISOString();\n\nlet hostname = 'unknown';\nlet date = '';\nlet time = '';\nlet eventMessage = text;\nlet format = 'unknown';\n\n// Check if structured format\nif (text.includes('A new system event')) {\n  format = 'structured';\n  const lines = text.split('\\n');\n  const headerMatch = lines[0].match(/on your ([\\w-]+) on (\\d{2}-\\d{2}-\\d{4}) at (\\d{2}:\\d{2})/);\n  if (headerMatch) {\n    hostname = headerMatch[1];\n    date = headerMatch[2];\n    time = headerMatch[3];\n  }\n  eventMessage = lines[1] || '';\n} else {\n  format = 'simple';\n  const simpleMatch = text.match(/\\[([^\\]]+)\\] (.+)/);\n  if (simpleMatch) {\n    hostname = simpleMatch[1];\n    eventMessage = simpleMatch[2];\n  }\n}\n\nlet alertType = 'unknown';\nlet category = 'Unknown';\nlet severity = 'Info';\n\n// Backup category\nif (/backup task.*completed successfully/i.test(eventMessage)) {\n  alertType = 'backup_completed'; category = 'Backup'; severity = 'Info';\n} else if (/backup task.*partially completed/i.test(eventMessage)) {\n  alertType = 'backup_partial'; category = 'Backup'; severity = 'Warning';\n} else if (/backup task.*failed/i.test(eventMessage)) {\n  alertType = 'backup_failed'; category = 'Backup'; severity = 'Critical';\n} else if (/Backup task for .* completed/i.test(eventMessage)) {\n  alertType = 'active_backup_completed'; category = 'Backup'; severity = 'Info';\n} else if (/Backup task for .* failed/i.test(eventMessage)) {\n  alertType = 'active_backup_failed'; category = 'Backup'; severity = 'Critical';\n} else if (/Device .* is offline/i.test(eventMessage)) {\n  alertType = 'device_offline'; category = 'Backup'; severity = 'Warning';\n} else if (/replication task.*failed/i.test(eventMessage)) {\n  alertType = 'replication_failed'; category = 'Backup'; severity = 'Critical';\n}\n// CMS category\nelse if (/managed server.*is offline/i.test(eventMessage)) {\n  alertType = 'server_offline'; category = 'CMS'; severity = 'Critical';\n} else if (/managed server.*is online/i.test(eventMessage)) {\n  alertType = 'server_online'; category = 'CMS'; severity = 'Info';\n} else if (/unable to connect to the CMS/i.test(eventMessage)) {\n  alertType = 'cms_connection_failure'; category = 'CMS'; severity = 'Critical';\n} else if (/reconnected to the CMS/i.test(eventMessage)) {\n  alertType = 'cms_connection_restored'; category = 'CMS'; severity = 'Info';\n}\n// Storage category\nelse if (/Volume.*degraded/i.test(eventMessage)) {\n  alertType = 'volume_degraded'; category = 'Storage'; severity = 'Critical';\n} else if (/Volume.*crashed/i.test(eventMessage)) {\n  alertType = 'volume_crashed'; category = 'Storage'; severity = 'Critical';\n} else if (/Disk.*failing/i.test(eventMessage)) {\n  alertType = 'disk_failing'; category = 'Storage'; severity = 'Critical';\n} else if (/Bad sectors/i.test(eventMessage)) {\n  alertType = 'disk_bad_sectors'; category = 'Storage'; severity = 'Warning';\n} else if (/almost full|less than 1%/i.test(eventMessage)) {\n  alertType = 'storage_space_critical'; category = 'Storage'; severity = 'Critical';\n} else if (/\\d+% free space/i.test(eventMessage)) {\n  alertType = 'storage_space_low'; category = 'Storage'; severity = 'Warning';\n}\n// Hardware category\nelse if (/Power failure/i.test(eventMessage)) {\n  alertType = 'ups_power_failure'; category = 'Hardware'; severity = 'Critical';\n} else if (/UPS battery is low/i.test(eventMessage)) {\n  alertType = 'ups_low_battery'; category = 'Hardware'; severity = 'Critical';\n} else if (/temperature.*high/i.test(eventMessage)) {\n  alertType = 'temperature_warning'; category = 'Hardware'; severity = 'Warning';\n} else if (/Fan.*failed/i.test(eventMessage)) {\n  alertType = 'fan_failure'; category = 'Hardware'; severity = 'Critical';\n}\n// Security category\nelse if (/Failed login attempt/i.test(eventMessage)) {\n  alertType = 'login_failed'; category = 'Security'; severity = 'Warning';\n} else if (/IP address.*blocked/i.test(eventMessage)) {\n  alertType = 'ip_blocked'; category = 'Security'; severity = 'Warning';\n}\n// System category\nelse if (/Test Message/i.test(eventMessage)) {\n  alertType = 'test_message'; category = 'System'; severity = 'Info';\n} else if (/DSM.*available/i.test(eventMessage)) {\n  alertType = 'dsm_update_available'; category = 'System'; severity = 'Info';\n} else if (/Update available for/i.test(eventMessage)) {\n  alertType = 'package_update_available'; category = 'System'; severity = 'Info';\n} else if (/System has started/i.test(eventMessage)) {\n  alertType = 'system_boot'; category = 'System'; severity = 'Info';\n} else if (/System is shutting down/i.test(eventMessage)) {\n  alertType = 'system_shutdown'; category = 'System'; severity = 'Info';\n}\n\nreturn [{\n  json: {\n    rawText: text,\n    receivedAt,\n    hostname,\n    date,\n    time,\n    format,\n    alertType,\n    category,\n    severity,\n    eventMessage\n  }\n}];"
      },
      "name": "Parse Alert",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.category}}",
              "value2": "Backup"
            }
          ]
        }
      },
      "name": "Is Backup?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value1": "={{$json.severity}}",
              "value2": "Critical"
            },
            {
              "operation": "equal",
              "value1": "={{$json.severity}}",
              "value2": "Warning"
            }
          ]
        },
        "fallbackOutput": 2
      },
      "name": "Route by Severity",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [920, 400]
    },
    {
      "parameters": {},
      "name": "Backup Action",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [920, 200]
    },
    {
      "parameters": {},
      "name": "Critical Action",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1140, 300]
    },
    {
      "parameters": {},
      "name": "Warning Action",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1140, 420]
    },
    {
      "parameters": {},
      "name": "Info Ignored",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1140, 540]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Alert": {
      "main": [
        [
          {
            "node": "Is Backup?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Backup?": {
      "main": [
        [
          {
            "node": "Backup Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route by Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Severity": {
      "main": [
        [
          {
            "node": "Critical Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Warning Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Info Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
